*{
   margin: 1;
   padding: 1;
}

.main{
   width: 90%;
   background: url(Ref/gif.gif);
   background-position: center;
   background-size: cover;
   height: 100vh;
   position:relative;
   font-family: sans-serif;
}

.navbar{
   width: 86%;
   display: flex;
   margin: auto;
   padding: 15px 0;
   align-items: center;
   justify-content: space-between;
}

.navbar .logo{
   width: 160px;
   cursor: pointer;
   margin-top: 3%;
   margin-left: 3%;
}

ul{
   margin-top: -4%;
}

ul li{
   list-style: none;
   display: inline-block;
   padding: 10px 16px;
}

ul li a{
   font-size: 18px;
   font-weight: bold;
   text-decoration: none;
   color: rgb(82, 112, 112);
   margin-top: -5%;
   transition: .4s ease;
}

ul li a:hover{
   color: rgb(228, 113, 71);
}

.info{
   margin-left: 7%;
   margin-top: 6%;
}

.info h1{
   font-size: 65px;
   color: rgb(140, 185, 185);
}

.info h3{
   font-size: 22px;
   letter-spacing: 1px;
   line-height: 24px;
   color:rgb(215, 248, 248);
}

.info span{
   color: rgb(183, 141, 126);
}

.info a{
   text-decoration: none;
   font-weight: bold;
   color: #fff;
   background: rgb(140, 185, 185);
   margin: 40px 0;
   padding: 10px 18px;
   border-radius: 10px;
   display: inline-block;
   transition: .4s ease;
}

.info a:hover{
   background: rgb(115, 210, 210);
}

.image{
   width: 30%;
   height: 60%;
   position: absolute;
   right: 100px;
   bottom: 0;
}

.image img{
   position: absolute;
   height: 140%;
   left: 80%;
   transform: translate(-55%);
   bottom: 0%;
   transition: left 2s ease;
}

.image:hover .john{
   left: 55%;
}

.icons a{
   text-decoration: none;
   color:#fff
}

.icons ion-icon{
   margin-left: 7%;
   color: #fff;
   margin-right: -80px;
   font-size: 50px;
   transition: .4s ease;
}

.icons ion-icon:hover{
   color: rgb(39, 183, 227)
}

.fa-brands fa-facebook{
  font-size: 70px;
  color:rgb(115, 210, 210)
}